body {
    margin: 0;
    background-color: rgb(150, 150, 150);
    font-family: sans-serif;
}

/* links */
a {
    text-decoration: none;
    color: inherit; /* herda a cor original do texto */
}

.pai {
    display: grid;
    place-items: center;
    min-height: 100vh; 
}

.dvcad {
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.1);
    height: 500px;
    width: 550px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.back {
    padding: 20px;
    position: absolute;    
    bottom: 0;             
    right: 0;              
    margin: 10px;   
}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.dvinputs {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento vertical entre os elementos */
    align-items: stretch; /* Faz os inputs ocuparem toda a largura disponível */
    width: 80%; /* Ajuste conforme necessário */
    margin: 0 auto; /* Centraliza horizontalmente dentro da .dvcad */
}

.inputs {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btncad {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(190, 68, 228, 0.767);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back:hover {
    cursor: pointer;
    color: rgba(190, 68, 228, 0.767);
}

.dvlogin {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}

.login {
    color: rgba(190, 68, 228, 0.767);
}
