@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap");
body {
  background-color: #0e1111;
}

.meusAlunos {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  z-index: 5;
}

.meusAlunos h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin: 0 5px;
  color: #ffffff;
}

.meusAlunos .alunos-roxo {
  color: #8a2be2;
}
.cards-layout-container {
  display: grid;
  grid-template-columns: repeat(4, 341.51px);
  gap: 24px;
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 260px;
}
.card-aluno {
  width: 341.51px;
  height: 276.27px;
  background: #ffffff;
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    border 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid transparent;
}

.card-aluno:hover {
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid purple;
}

.card-inner-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ellipse-11 {
  position: absolute;
  width: 65.05px;
  height: 68.27px;
  left: 32.52px;
  top: 40.53px;
  background: #d9d9d9;
  border-radius: 50%;
}

.nome-aluno {
  position: absolute;
  width: 128.07px;
  height: 49.07px;
  left: 106.72px;
  top: 54.4px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.nome-aluno.nome-poppins {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}

.email-aluno {
  position: absolute;
  width: 111.8px;
  height: 40.53px;
  left: 106.72px;
  top: 84.27px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin: 0;
}

.email-aluno.email-alt {
  height: 12px;
}

.plano-aluno {
  position: absolute;
  width: 128.07px;
  height: 55.47px;
  left: 42.69px;
  top: 147.2px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.plano-aluno.plano-poppins {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}

.perfil-button,
.treino-button {
  position: absolute;
  width: 128.07px;
  height: 55.47px;

  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;

  background: none;
  border: none;
  padding: 0;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.perfil-button {
  left: 43px;
  top: 187px;
}
.perfil-button.perfil-alt {
  top: 186px;
}

.treino-button {
  left: 43px;
  top: 227px;
}
