* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  overflow-x: hidden; 
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

nav {
  position: fixed; 
  width: 100%;
  height: 97px; 
  background: #0e1111; 
  box-shadow: 1px 10px 40px rgba(168, 162, 162, 0.25); 
  z-index: 20; 

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: #fff;
  font-size: 54px;
  font-weight: bold; 
  line-height: 54px; 
  text-align: center;
}

.mobile-menu {
  display: block; 
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #d9d9d9; 
  margin: 8px 0; 
  transition: 0.3s;
}

.nav-list {
  list-style: none;
  position: fixed;
  top: 97px; 
  right: 0;
  width: 300px; 
  height: calc(100vh - 97px);
  background: #0e1111; 
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  transform: translateX(100%); 
  transition: transform 0.3s ease-in;
  z-index: 10;

  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 0;
  opacity: 0; 
}

.nav-list.active {
  transform: translateX(0); 
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
