* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #363636;
}

/* ===== NAVBAR ===== */
.navbar {
  width: 100%;
  height: 97px;
  background: #fff;
  box-shadow: 1px 10px 40px rgba(168, 162, 162, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  height: 50px;
  width: auto;
}

.menu-icon {
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
}

.menu-icon span {
  display: block;
  height: 2px;
  background: #000;
}

/* ===== CONTAINER PRINCIPAL ===== */
.user-details {
  background: #D9D9D9;
  width: 90%;
  max-width: 1800px;
  margin: 60px auto;
  border-radius: 12px;
  padding: 40px 60px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 36px;
  color: #8F17BE;
  cursor: pointer;
}

/* ===== CABEÇALHO DO USUÁRIO ===== */
.user-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #8F17BE;
}

.user-header h2 {
  font-size: 32px;
  font-weight: 700;
}

/* ===== INFORMAÇÕES ===== */
.user-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.column label {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #0D0D0D;
  margin-bottom: 6px;
}

.column input {
  width: 100%;
  background: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 600;
  color: #434343;
  margin-bottom: 25px;
}

.ban-icon {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 40px;
  color: #8F17BE;
}

.ban-icon:hover {
    cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #7b2ff7;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

.avatar:hover {
  opacity: 0.8;
}
